extends layout

block content
  .wrapper
    .wrapper-inner
      header.container
        .title-item
          h3 Cover
        .toggle-item
        .nav-item
          a(href="") Home
          a(href="") About
      main.container
        .main-content 
          h1 Cover your page
          p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab sint nihil dolore, quaerat quo accusantium minima officia impedit deserunt tempore facilis neque, optio, sed labore modi tempora. Unde quas, obcaecati.
          button Lear more
      footer.container
        .footer-content
          p cover tamplate by TeamCRUD, by @jairperezs