// Docs: http://escuela.digital/edgrid

$cssCore: false; // core EDgrid
$cssHelpers: false; // helpers by EDgrid 
$devMode: true; // Mode Development

@import 'ed-grid/ed-grid';

// Import your styles
@import "default";
@import "home"